header {
    background-color: black;
    color: white;
    padding: 10px;

}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li{
    margin: 0 10px;
}

nav a{
    color: white;
    text-decoration: none;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0 10px;
}

img{
    max-width: 100%;
}

footer{
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px 0;
}